*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
.kotin
example/iosApp/Podfile.lock
example/iosApp/Pods/*
example/iosApp/iosApp.xcworkspace/*
example/iosApp/iosApp.xcodeproj/*
example/iosApp/iosApp.xcodeproj/project.pbxproj
secring.gpg
kotlin-js-store
.kotlin